@page "/PayBilling";
@using Neodynamic.Blazor
@inject JSPrintManager JSPrintManager;

<h5 class="mb-3" id="exampleModalLabel">Payment</h5>

@if (BillData == null || ReadingData == null || ConsumersData == null || UserData == null)
{
    <p><em>Loading...</em></p>
}
else {
    <Alert @ref="alertComponent" OnNotificationResponse="HandleNotificationResponse" />

    <div class="">
        <header>Consumer Information</header>
        <div class="row g-2 mb-2">
            <InputComponent InputType="text" InputID="Firstname" IsDisabled="true" label="First Name" @bind-Value="UserData.Firstname" />
            <InputComponent InputType="text" InputID="MiddleName" IsDisabled="true" label="Middle Name" @bind-Value="UserData.Middlename" />
            <InputComponent InputType="text" InputID="LastName" IsDisabled="true" label="Last Name" @bind-Value="UserData.Lastname" />
        </div>
        <div class="row g-2 mb-2">
            <InputComponent InputType="text" InputID="Gender" IsDisabled="true" label="Phone Number" @bind-Value="UserData.Gender" />
            <InputComponent InputType="text" InputID="PhoneNumber" IsDisabled="true" label="Phone Number" @bind-Value="UserData.PhoneNumber" />
            <InputComponent InputType="email" InputID="EmailAddress" IsDisabled="true" label="Email Address" @bind-Value="UserData.Email" />
        </div>
        <div class="row g-2 mb-2">
            <InputComponent InputType="text" InputID="Meter Number" IsDisabled="true" label="Connection Type" @bind-Value="ConsumersData.ConnectionType" />
            <InputComponent InputType="text" InputID="DateConnection" IsDisabled="true" label="Connection Date" @bind-Value="ConsumersData.Connection_Date" />
            <InputComponent InputType="text" InputID="Address" IsDisabled="true" label="Address" @bind-Value="ConsumersData.Address" />
        </div>
    </div>

    <hr />

    <div class="">
        <header>Reading Information</header>
        <div class="row g-2 mb-2">
            <div class="col">
                <label for="Previous" class="form-label">Previous Reading</label>
                <input type="text" id="Previous" class="form-control" @bind="ReadingData.Previous_Reading" disabled />
            </div>

            <div class="col">
                <label for="Current" class="form-label">Current Reading</label>
                <input type="text" id="Current" class="form-control" @bind="ReadingData.Current_Reading" disabled />
            </div>

            <div class="col">
                <label for="Usage" class="form-label">Usage</label>
                <input type="text" id="Usage" class="form-control" @bind="ReadingData.Usage" disabled />
            </div>

            <div class="col">
                <label for="MonthOf" class="form-label">Month Of</label>
                <input type="text" id="MonthOf" class="form-control" @bind="ReadingData.MonthOf" disabled />
            </div>

            <div class="col">
                <label for="DateBilled" class="form-label">Bill Date</label>
                <input type="date" id="DateBilled" class="form-control" @bind="BillData.BillDate" disabled />
            </div>

        </div>

        <div class="row g-2 mb-2">
            <div class="col">
                <label for="Previous" class="form-label">Consumed Amount</label>
                <input type="text" id="Previous" class="form-control" @bind="TotalAmount" disabled />
            </div>

            <div class="col">
                <label for="Current" class="form-label">From Date</label>
                <input type="date" id="Current" class="form-control" @bind="BillData.From" disabled />
            </div>

            <div class="col">
                <label for="To" class="form-label">To Date</label>
                <input type="date" id="To" class="form-control" @bind="BillData.To" disabled />
            </div>

            <div class="col">
                <label for="DueDate" class="form-label">Due Date</label>
                <input type="date" id="DueDate" class="form-control" @bind="BillData.DueDate" disabled />
            </div>

        </div>



    </div>

    <hr />

    <div class="">
        <header>Payment</header>
        <div class="row g-2 mb-2">
            <div class="col">
                <label for="Previous" class="form-label">Penalty</label>
                <input type="number" id="Previous" class="form-control" @oninput="OnPentaltyChanged"/>
            </div>

            <div class="col">
                <label for="Previous" class="form-label">Total</label>
                <input type="text" id="Previous" class="form-control" @bind="totalAmounts" />
            </div>

            <div class="col">
                <label for="Current" class="form-label">Amount Paid</label>
                <input type="text" id="Current" class="form-control" @oninput="OnAmountPaidChange" />
            </div>

            <div class="col">
                <label for="Usage" class="form-label">Change</label>
                <input type="text" id="Usage" class="form-control" @bind="changeAmount" disabled />
            </div>

            <div class="col">
                <label for="MonthOf" class="form-label">Mode of Payment</label>
                <select class="form-control" @bind="paymentData.PaymentMethod">
                    <option value="" disabled selected>-- Select Mode of Payment --</option>
                    <option value="Cash">Cash</option>
                    <option value="Check">Check</option>
                    <option value="Gcash">Gcash</option>
                </select>
            </div>

            <div class="col">
                <label for="Advance" class="form-label">Advance</label>
                <input type="text" id="Advance" class="form-control" @bind="advanceAmount" disabled />
            </div>

        </div>
    </div>

    <button class="btn btn-succes" @onclick="addPayment">Pay</button>
}


@code {
    public int? Id { set; get; }
    private Bills? BillData;
    private Reading? ReadingData;
    private Consumers? ConsumersData;
    private Users? UserData;
    private Advances? advanceData;
    private Payments paymentData = new Payments();

    public double advanceAmount;
    public double TotalAmount;
    public double changeAmount;
    public double totalAmounts;

    private Alert? alertComponent;


    private string FullName { get; set; } = "Guest";

    [Inject]
    private URLStringServices URLStringServices { get; set; }

    [Inject]
    private BillingService billingService {get; set;}

    [Inject]
    private ReadingServices readingServices { get; set; }

    [Inject]
    private ConsumerServices consumerServices { get; set; }

    [Inject]
    private UsersServices usersServices { get; set; }

    [Inject]
    private AdvanceServices advanceServices { get; set; }

    [Inject]
    private PaymentServices paymentServices { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Id = URLStringServices.GetURLStringValueAsInt("id");

        advanceAmount = 0;
        TotalAmount = 0;
        changeAmount = 0;
        totalAmounts = 0;
        paymentData.CashierID = "1";

        var storedFullName = await sessionStorage.GetItemAsync<string>("fullName");

        if (!string.IsNullOrEmpty(storedFullName))
        {
            FullName = storedFullName;
        }
    }


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (!Id.HasValue)
            {
                await alertComponent.ShowNotification("Error: No Id Found!", false, "danger");

                return;
            }


            BillData = await billingService.GetBillingByID(Id);
            if (BillData == null)
            {
                await alertComponent.ShowNotification("Error: BillData is null!", false, "danger");

                return;
            }

            ReadingData = await readingServices.GetReadingByID(BillData.ReadingID);
            if (ReadingData == null)
            {
                await alertComponent.ShowNotification("ReadingData is null!", false, "danger");

                return;
            }

            ConsumersData = await consumerServices.GetConsumerByMeterNumber(ReadingData.Meter_Number);
            if (ConsumersData == null)
            {
                await alertComponent.ShowNotification("Error: ConsumersData is null!", false, "danger");

                return;
            }


            UserData = await usersServices.GetUserByIdAsync(int.Parse(ConsumersData.UserID));
            if (UserData == null)
            {
                await alertComponent.ShowNotification("UserData is null!", false, "danger");

                return;
            }



            StateHasChanged();



        }
        catch (Exception ex)
        {
            await alertComponent.ShowNotification($"Error Message: {ex.Message}", false, "danger");

        }

        try
        {
            advanceData = await advanceServices.getAdvanceWithConsumerID(ConsumersData.ConsumerID);
            StateHasChanged();

            TotalAmount = BillData.Consumed_Amount - advanceAmount;
            totalAmounts = TotalAmount;
        }
        catch(Exception ex)
        {
            if (ex is System.Net.Http.HttpRequestException httpException && httpException.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                advanceAmount = 0;
                TotalAmount = BillData.Consumed_Amount;
                totalAmounts = TotalAmount;
            }
            else
            {
                await alertComponent.ShowNotification($"Error Message: {ex.Message}", false, "danger");

            }
        }
    }



    private void OnAmountPaidChange(ChangeEventArgs e)
    {
        if(e.Value != null && double.TryParse(e.Value.ToString(), out double currentInputAmount))
        {
            paymentData.Amount_Paid = currentInputAmount;
            changeAmount = currentInputAmount - totalAmounts;
            paymentData.Change = changeAmount;
        }
        else
        {
            changeAmount = 0;
            paymentData.Change = changeAmount;
        }
    }

    private void OnPentaltyChanged(ChangeEventArgs e)
    {
        if(e.Value != null && double.TryParse(e.Value.ToString(), out double currentPenalty))
        {
            paymentData.PenaltyIncluded = currentPenalty;
            totalAmounts = currentPenalty + TotalAmount;
        }
        else 
        {
            paymentData.PenaltyIncluded = 0;
            totalAmounts = TotalAmount;
        }
    }

    protected async Task addPayment()
    {
        bool result = await alertComponent.ShowNotification("Do you want to add this payment?", true, "success");

        await HandleNotificationResponse(result);

    }

    private async Task HandleNotificationResponse(bool response)
    {
        if (response)
        {
            paymentData.BillID = BillData.BillID;

            if (advanceAmount == 0)
            {
                paymentData.AdvanceIncluded = "";
            }
            else
            {
                paymentData.AdvanceIncluded = advanceAmount.ToString();
            }
            paymentData.Remarks = "Paid";

            var (isCreated, PaymentMessage) = await paymentServices.CreatePayment(paymentData);
            if (isCreated)
            {
                //advance
                if (advanceAmount != 0)
                {
                    var (isUpdated, AdvanceMessage) = await advanceServices.UpdateAdvance(advanceData.AdvanceID);
                    if (!isUpdated)
                    {
                        await alertComponent.ShowNotification($"Advance Updating Error: {AdvanceMessage}", false, "danger");

                    }
                }


                //update bill
                var (isBillUpdated, UpdateMessage) = await billingService.UpdateBilling(BillData.BillID);
                if (isBillUpdated)
                {
                    await alertComponent.ShowNotification($"Success: {PaymentMessage}", false, "success");

                    if (changeAmount != 0) {
                        bool makeitAdvance = await alertComponent.ShowNotification($"Change: {changeAmount}<br>Do you want to make it advance?", true, "success");

                        if (makeitAdvance) {
                            advanceServices.AddAdvance(changeAmount, ConsumersData.ConsumerID);
                        }
                    }

                    navManager.NavigateTo("/Billings");
                    DoPrint();
                }
                else
                {
                    await alertComponent.ShowNotification($"Bill Updating Error: {UpdateMessage}", false, "danger");

                }



            }
        }
    }

    private bool UseDefaultPrinter = true;

    private void DoPrint()
    {
        if (JSPrintManager.Status == JSPMWSStatus.Open)
        {
            var cpj = new ClientPrintJob();

            cpj.ClientPrinter = new DefaultPrinter();

            var esc = (char)0x1B; //ESC byte in hex notation
            var newLine = (char)0x0A; //LF byte in hex notation
            var alignLeft = esc + "a" + (char)0;  // Left-aligned
            var alignCenter = esc + "a" + (char)1; // Center-aligned
            var alignRight = esc + "a" + (char)2;  // Right-aligned


            var cmds = esc + "@"; // Initializes the printer (ESC @)
            cmds += esc + "!" + (char)0x38; //Emphasized + Double-height + Double-width mode selected (ESC ! (8 + 16 + 32)) 56 dec => 38 hex
            cmds += alignCenter + "TEMPORARY RECEIPT"; //Header text
            cmds += newLine;
            cmds += esc + "!" + (char)0x00; //Reset to normal mode (ESC ! 0)
            cmds += newLine;
            cmds += alignLeft + $"Date: {DateOnly.FromDateTime(DateTime.Now)}";
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += alignLeft + $"Account No. {ConsumersData.ConsumerID}";
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += newLine;
            cmds += alignLeft + $"NAME : {UserData.Firstname}, {UserData.Firstname}";
            cmds += newLine;
            cmds += alignLeft + $"Connection Type: {ConsumersData.ConnectionType}";
            cmds += newLine;
            cmds += alignLeft + $"Address : {ConsumersData.Address}";
            cmds += newLine;
            cmds += alignLeft + $"Meter Number : {ReadingData.Meter_Number}";
            cmds += newLine;
            cmds += alignLeft + $"Bill Number : {BillData.BillID}";
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += alignLeft + "From: " + BillData.From;
            cmds += newLine;
            cmds += alignLeft + "To: " + BillData.To;
            cmds += newLine;
            cmds += alignLeft + "Due Date: " + BillData.DueDate;
            cmds += newLine;
            cmds += alignLeft + "Month Of: " + ReadingData.MonthOf;
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += alignLeft + "Prev. Rdg: " + ReadingData.Previous_Reading;
            cmds += newLine;
            cmds += alignLeft+ "Pres. Rdg: " + ReadingData.Current_Reading;
            cmds += newLine;
            cmds += alignLeft + "Usage: " + ReadingData.Usage + " m3";
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += alignLeft + "Mode of Payment: " + paymentData.PaymentMethod;
            cmds += newLine;
            cmds += alignLeft + "Current Bill: " + BillData.Consumed_Amount;
            cmds += newLine;
            cmds += alignLeft + "Advance: " + advanceAmount;
            cmds += newLine;
            cmds += alignLeft + "Penalty: " + paymentData.PenaltyIncluded;
            cmds += newLine;
            cmds += esc + "!" + (char)0x38;
            cmds += alignLeft + "Total: " + totalAmounts;
            cmds += newLine;
            cmds += alignLeft + "Paid: " + paymentData.Amount_Paid;
            cmds += newLine;
            cmds += alignLeft + "Change: " + changeAmount;
            cmds += esc + "!" + (char)0x00;
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += alignLeft + "Cashier Information";
            cmds += newLine;
            cmds += alignLeft + FullName;
            cmds += newLine;
            cmds += alignCenter + "==============================";
            cmds += newLine;
            cmds += alignCenter + $"Please ensure that your water{newLine}bill is settled on or before the{newLine}due date to avoid any penal-{newLine}ties or service interruptions.{newLine}If payment is not received{newLine}by the due date, a late{newLine}fee may be applied to your{newLine}next billing statement.";
            cmds += newLine;
            cmds += newLine;
            cmds += newLine;
            cmds += newLine;
            cmds += newLine;


            cpj.PrinterCommands = cmds;
            JSPrintManager.SendClientPrintJob(cpj);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // Handle OnGetPrinters event...
            JSPrintManager.OnGetPrinters += async () =>
            {
                if (JSPrintManager.Printers != null &&
                    JSPrintManager.Printers.Length > 0)
                {
                    // Display installed printers...
                    StateHasChanged();
                }
                else
                {
                    await alertComponent.ShowNotification("No printers found...", false, "danger");

                }

            };

            // Handle OnStatusChanged event to detect any WSS status change
            JSPrintManager.OnStatusChanged += () =>
            {
                StateHasChanged();

                // Status = Open means that JSPM Client App is up and running!
                if (JSPrintManager.Status == JSPMWSStatus.Open)
                {
                    //Try getting local printers...
                    JSPrintManager.TryGetPrinters();
                }
            };

            // Start WebSocket comm
            JSPrintManager.Start();
        }

        base.OnAfterRender(firstRender);
    }


}
