@page "/Cashier"
@inject AuthenticationService authService

<PageTitle>Home</PageTitle>

<link href="css/Dashboard.css" rel="stylesheet" />

<div class="row">
	
	<div class="col-md-3">
		<div class="card text-white mb-3">
			<div class="card-body">
				<h5 class="card-title">Paid</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card text-white mb-3">
			<div class="card-body">
				<h5 class="card-title">Unpaid</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card text-white ">
			<div class="card-body">
				<h5 class="card-title">Today Income</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>
</div>

@code {
	public int? Id { set; get; }

	[Inject]
	private URLStringServices URLStringServices { get; set; }

    private bool isAuthenticated = false;

	protected override async Task OnInitializedAsync()
    {
		Id = URLStringServices.GetURLStringValueAsInt("id");

        await authService.CheckAuthenticationAsync();
    }

}
