@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>@FullName</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>

@code {
    private string UserRole => UserStateService.UserRole;
    private string FullName { get; set; } = "Guest";

    protected override async void OnInitialized()
    {
        UserStateService.OnChange += StateHasChanged;

        var storedFullName = await sessionStorage.GetItemAsync<string>("fullName");

        if (!string.IsNullOrEmpty(storedFullName))
        {
            FullName = storedFullName;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        UserStateService.OnChange -= StateHasChanged;
    }
}
