@page "/ApplyConsumer"


@if (userData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<Alert @ref="alertComponent" OnNotificationResponse="HandleNotificationResponse" />

	<h5 class="mb-3" id="exampleModalLabel">Apply User | @Id</h5>


	<div class="row g-2 mb-2">
		<InputComponent InputType="text" InputID="Firstname" IsDisabled="true" label="First Name" @bind-Value="userData.Firstname" />
		<InputComponent InputType="text" InputID="MiddleName" IsDisabled="true" label="Middle Name" @bind-Value="userData.Middlename" />
		<InputComponent InputType="text" InputID="LastName" IsDisabled="true" label="Last Name" @bind-Value="userData.Lastname" />
	</div>
	<div class="row g-2 mb-2">
		<InputComponent InputType="text" InputID="Gender" IsDisabled="true" label="Phone Number" @bind-Value="userData.Gender" />
		<InputComponent InputType="text" InputID="PhoneNumber" IsDisabled="true" label="Phone Number" @bind-Value="userData.PhoneNumber" />
		<InputComponent InputType="email" InputID="EmailAddress" IsDisabled="true" label="Email Address" @bind-Value="userData.Email" />
	</div>

	<hr/>

	<div class="row g-2 mb-2">
		<InputComponent InputType="text" InputID="Meter Number" IsDisabled="false" label="Meter Number" @bind-Value="consumerData.Meter_Number" />

	</div>

	<div class="row g-2 mb-2">
		<div class="col">
			<label for="Connection" class="form-label">Connection Type</label>
			<select id="Connection" class="form-select" @bind="consumerData.ConnectionType">
				<option value="n/a" selected disabled>-- Please Select Gender --</option>
				@if (ConnectionType != null)
				{
					foreach (var option in ConnectionType)
					{
						<option value="@option.Value">@option.Text</option>
					}
				}
			</select>
		</div>

		<InputComponent InputType="date" InputID="DateConnection" IsDisabled="false" label="Connection Date" @bind-Value="consumerData.Connection_Date"/>

		<InputComponent InputType="text" InputID="Address" IsDisabled="false" label="Address" @bind-Value="consumerData.Address" />

	</div>



	<div class="d-flex justify-content-end">
		<a href="/Users" type="button" class="btn btn-danger me-3" data-bs-dismiss="modal">Close</a>
		<button type="button" class="btn btn-success me-3" data-bs-dismiss="modal" @onclick="AddConsumer">update</button>
	</div>
}

@code {
	public int? Id { set; get; }
	private Users userData;
	private Users? users;
	private Consumers consumerData { set; get; } = new();

	public string Firstname { get; set; } = string.Empty;
	public string MiddleName { get; set; } = string.Empty;
	public string LastName { get; set; } = string.Empty;
	public string Gender { get; set; } = string.Empty;
	public string PhoneNumber { get; set; } = string.Empty;
	public string EmailAddress { get; set; } = string.Empty;

	private Alert? alertComponent;

	[Inject]
	private URLStringServices URLStringServices { get; set; }

	[Inject]
	private UsersServices userService { get; set; }

	[Inject]
	private ConsumerServices consumerServices { get; set; }

	[Inject]
	private ReadingServices readingService { get; set; }

	[Inject]
	private ComponentServices componentServices { get; set; }

	public List<SelectOptions> ConnectionType { get; set; }


	protected override async void OnInitialized()
	{
		Id = URLStringServices.GetURLStringValueAsInt("id");

		consumerData.UserID = Id.ToString();

		ConnectionType = componentServices.ConnectionType;
		await Task.CompletedTask;
	}

	protected override async Task OnParametersSetAsync()
	{
		try
		{
			if (Id.HasValue)
			{
				users = await userService.GetUserByIdAsync(Id.Value);
				if (users != null)
				{
					userData ??= new Users();

					{
						Firstname = users.Firstname;
						MiddleName = users.Middlename;
						LastName = users.Lastname;
						Gender = users.Gender;
						PhoneNumber = users.PhoneNumber;
						EmailAddress = users.Email;

						componentServices.UpdateInputField(userData, "Firstname", users.Firstname);
						componentServices.UpdateInputField(userData, "Middlename", users.Middlename);
						componentServices.UpdateInputField(userData, "Lastname", users.Lastname);
						componentServices.UpdateInputField(userData, "Gender", users.Gender);
						componentServices.UpdateInputField(userData, "PhoneNumber", users.PhoneNumber);
						componentServices.UpdateInputField(userData, "Email", users.Email);
						componentServices.UpdateInputField(userData, "Role", users.Role);

					};

				}
			}

		}
		catch (Exception ex)
		{
			await alertComponent.ShowNotification($"Error Message: {ex.Message}", false, "danger");

		}
	}

	protected async Task AddConsumer()
	{
		bool result = await alertComponent.ShowNotification("Do you want to apply this user as consumer?", true, "success");

		await HandleNotificationResponse(result);
	}

	private async Task HandleNotificationResponse(bool response)
	{
		if (response)
		{
			var (isAdded, message) = await consumerServices.AddConsumer(consumerData);

			if (isAdded)
			{
				await alertComponent.ShowNotification("Consumer added successfully", false, "success");

				navManager.NavigateTo("/Consumers");

			}
			else
			{
				await alertComponent.ShowNotification("Failed to add data, Please Try Again.", false, "danger");

				navManager.NavigateTo("/Consumers");
			}
		}
	}
	
}
